
.customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customModal {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    color: #121212;
  }

  .customInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .customButton {
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .customButton[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  