.card {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90%; /* Añade esta propiedad para que todas las tarjetas tengan la misma altura */
}

.cardImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.cardImage:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Es el código de movimiento copado
.cardImageContainer {
  width: 100%;
  max-height: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cardImageContainer:hover .cardImage {
  transform: scale(1.2);
} */