.container {
    display: flex;
    height: 100vh;
    color: #ffffff;
  }
  
  .sidebar {
    flex: 0 0 auto;
    background-color: #000000;
    padding: 20px;
    text-align: left;
  }
  
  .menu {
    list-style: none;
    padding: 0;

  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left: 20px;
  }
  
  .logoImg {
    width: auto;
    height: 50px;
    margin-right: 10px;
    align-items: center;
    transition: transform 0.3s ease;
    margin-bottom: 3rem;
  }

  .logoImg:hover {
    transform: scale(1.3);
  }

  .menu li {
    margin-bottom: 10px;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  