/* Estilos generales del navbar */
.navbar {
  background-color: #0303034d;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logoImg {
  width: auto;
  height: 50px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: scale(1.5);
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding: 0;
  font-size: large;
}

li {
  margin-left: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:cadetblue;
}

/* Media queries para hacer el navbar responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;

  }

  .logo {
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin: 10px 0;
  }
}

.dropdown {
  position: relative;
  color: antiquewhite;

}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #03120648;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent li {
  margin: 5px 0;
}

.dropdownContent li:hover {
  color: aqua
}

.dropdownContent a {
  color: antiquewhite;
}

.dropdownContent a:hover {
  color: cadetblue;
}

