.categoryList {
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pageNumber {
  margin: 0 5px;
}
