#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0,7rem;
  text-align: center;
  font-family: Arial, sans-serif;
  --primary-color: crimson;

}

body {
  background-color: #131313;
  color: whitesmoke; 
}
